Creating DataFrame from dictionary

In [6]:
people = {
    "first": ["Jatin", 'Jane', 'John'], 
    "last": ["Dhiman", 'Doe', 'Doe'], 
    "email": ["JatinDhiman@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [12]:
people['email']

['JatinDhiman@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(people)

In [11]:
df

   first    last                  email
0  Jatin  Dhiman  JatinDhiman@gmail.com
1   Jane     Doe      JaneDoe@email.com
2   John     Doe      JohnDoe@email.com

Acessing a single Column - returns a Series

In [13]:
df['email'] # returns a series

0    JatinDhiman@gmail.com
1        JaneDoe@email.com
2        JohnDoe@email.com
Name: email, dtype: object

In [15]:
type(df['email']) # series - rows of single column
# data frame a container of multiple series

pandas.core.series.Series

In [16]:
df.email

0    JatinDhiman@gmail.com
1        JaneDoe@email.com
2        JohnDoe@email.com
Name: email, dtype: object

Acessing Multiple Columns - no longer returns a series rather returns a dataframe

In [17]:
df[['last','email']]

     last                  email
0  Dhiman  JatinDhiman@gmail.com
1     Doe      JaneDoe@email.com
2     Doe      JohnDoe@email.com

In [18]:
type(df[['last','email']])

pandas.core.frame.DataFrame

In [19]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

Acessing Rows - loc and iloc

iloc - helps us to access rows by integer location

accessing single row

In [22]:
df.iloc[0] # gives us the first row

first                    Jatin
last                    Dhiman
email    JatinDhiman@gmail.com
Name: 0, dtype: object

accessing multiple rows

In [24]:
df.iloc[[0,1]]

   first    last                  email
0  Jatin  Dhiman  JatinDhiman@gmail.com
1   Jane     Doe      JaneDoe@email.com

In [27]:
# can also select columns as well
df.iloc[[0,1],2]

0    JatinDhiman@gmail.com
1        JaneDoe@email.com
Name: email, dtype: object

loc

In [28]:
df

   first    last                  email
0  Jatin  Dhiman  JatinDhiman@gmail.com
1   Jane     Doe      JaneDoe@email.com
2   John     Doe      JohnDoe@email.com

single-row

In [29]:
df.loc[0]

first                    Jatin
last                    Dhiman
email    JatinDhiman@gmail.com
Name: 0, dtype: object

multiple-rows

In [30]:
df.loc[[0,1]]

   first    last                  email
0  Jatin  Dhiman  JatinDhiman@gmail.com
1   Jane     Doe      JaneDoe@email.com

columns as well

In [31]:
df.loc[[0,1],'email']

0    JatinDhiman@gmail.com
1        JaneDoe@email.com
Name: email, dtype: object

In [33]:
# can also pass list of cols
df.loc[[0,1],['email','last']]

                   email    last
0  JatinDhiman@gmail.com  Dhiman
1      JaneDoe@email.com     Doe

## working on dataset now

In [34]:
import pandas as pd

In [37]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [38]:
df.shape

(88883, 85)

In [39]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

how many yes and no ?

In [40]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [46]:
df.loc[0,'Hobbyist']

'Yes'

In [47]:
df.loc[[0,1,2],'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

Can also use slicing - pretty much same as list slicing but here last index is inclusive

In [49]:
df.loc[0:2,'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [50]:
df.loc[0:2,'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time